/*  */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;

}

.logo h1 {
font-size: 2vw;
}

.Logo img {
 width: 50px;
 max-width: 100%;
 height: auto;
}

.Logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    
    color: white;
}

section {
     display: block;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.5s;
    border-bottom: 1px solid #546973;
}

.menu {
    display: flex;
    gap: 30px;
    justify-content: center;

}
.menu a {
    text-decoration: none;
    color: #EEE0C9;
    font-size: 1vw;
    
}
.menu a:hover {
   text-decoration: underline;
   color: gray;
   transition: 0.5s;
}
nav {
    background-color:#96B6C5 ;
    padding: 10px 0px;
}

/*  */



.btn_r {
    margin-top: 20px;
    background-color: #EEE0C9;
    border-radius: 10px;
    max-width: 7em;
    width: 100%;
}

.ip-src {
    background-color: #D9D9D9;
    width: 80% ;
    padding: 10px;
    
}

#beranda {
    background-color:#ADC4CE;
    margin-top: 100px;
}

.p_1 {
    padding: 100px 0;
}
.cg {
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#beranda  button {
    
    color: #96B6C5;
}
#beranda button:hover {
   background-color: #546973;
   color: #EEE0C9;
   
}



#hero h1 {
    font-size: 24px;
    text-align: center;
    color: #96B6C5;
    margin: 50px 0px;
}


#hero {
    background-color: #F1F0E8;
}
#hero img {
    max-width: 100%;
    height: auto;
}
/*  */

#about .col {
    
   width: 100%;
}
#about img {
    
   width: 400px;
   
}

#about h1 {
    
    background-color: #D9D9D9;
    padding: 10px 30px;
    text-align: center;
    border-radius: 0 20px 0 20px;
    margin: 50px 0;

}

#about {
    color: #546973;
    background-color: #96B6C5;
    padding: 50px 0;
}

#about h2 {
    width: 100%;
    font-size: 30px;
    color: black;
}
#about h5 {
    width: 100%;
    font-size: 15px;
    color: black;
}

/*  */
 .FL {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.FL img {
    width: 200px;
    max-width: 100%;
    height: auto;
    
}

#service {
    background-color: #EEE0C9;
}

#service button {
    background-color: #ADC4CE;
    color: #EEE0C9;
    width: 100px;
   
}

#service button:hover {
    background-color: #96B6C5;
    color: antiquewhite;
   
}
#service button:active {
    background-color: #546973;
    color: white;
   
}

.menu_service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}

/*  */
.txt {
    width: fit-content;
    font-weight: bold;
    padding: 20px 40px;
    border-radius:0 10px 0 10px  ;
    background-color: #EEE0C9;
    color: #546973;
    margin: auto;
    font-size: 32px;
}

#keunggulan {
    background-color: #96B6C5;
}

