@media only screen and (max-width: 600px) {
    .btn_r {
        display: none;
    }


    .phone {
        display: none;
    } 

    .menu_service {
        gap: 50px;
    }

    #about .p2 {
        display: none;
    }

    .menu a {
        font-size: 70%;
    }

     .Logo {
        font-size: 2vw;
        display: block;
        text-align: center;
     }
}

@media only screen and (max-width: 768px) {
   #about {
    text-align: center;
   }
}